<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    
<header>
    <a href="{{url_for('inicio')}}">Inicio</a>
    <a href="{{url_for('sobre')}}">Sobre mi</a>
    <a href="{{url_for('cursos')}}">Cursos</a>
    <a href="{{url_for('contacto')}}">Contacto</a>
</header>


{% block body %}


{% endblock %}


<footer>
    <p>&copy; 2024 Juan Camilo Goyeneche. Todos los derechos reservados.</p>
</footer>
</body>
</html>

