{% extends './base.html' %}
{% block body %}

<section id="courses">
    <div class="cont-sources">
        <h2 class="title_1">Cursos</h2>
        <div class="courses">
            <h3>HTML</h3>
            <img src="static/images/HTML.png" alt="" width="100px" height="100px">
            <p>Nivel intermedio.
            </p>
        </div>
        <div class="courses">
            <h3>CSS</h3>
            <img src="static/images/CSS.png" alt="" width="100px" height="100px">
            <p>Nivel intermedio.
            </p>
        </div>
        <div class="courses">
            <h3>MySQL PHP</h3>
            <img src="static/images/PHP.png" alt="" width="180px" height="130px">
            <p>Nivel avanzado.
            </p>
        </div>
            <div class="courses">
            <h3>PYTHON</h3>
            <img src="static/images/PYTHON.png" alt="" width="180px" height="100px">
            <p>Nivel basico.
            </p>
        </div>
    </div>
</section>

{% endblock %}
