{% extends './base.html' %}
{% block body%}

    <section id="welcome">
        <h1>Bienvenido a mi Portafolio</h1>
            <div class="carousel">
              <div class="slides">
                  <div class="slide">
                      <img src="static/images/IMG 1.jpg" alt="Slide 1" width="900px" height="500px">
                  </div>
                  <div class="slide">
                      <img src="static/images/IMG 2.jpg" alt="Slide 2" width="900px" height="500px">
                  </div>
                  <div class="slide">
                      <img src="static/images/IMG 3.jpg" alt="Slide 3" width="900px" height="500px">
                  </div>
                  <div class="slide">
                      <img src="static/images/IMG 4.jpg" alt="Slide 4" width="900px" height="500px">
                  </div>
                  <div class="slide">
                      <img src="static/images/IMG 5.jpg" alt="Slide 5" width="900px" height="500px">
                  </div>
              </div>
          </div>
    </section>

{% endblock %}


   


